<h2>ici index des restaurants</h2>

<%= link_to "nouveux restaurant", new_restaurant_path(@restaurant), class:"btn btn-primary" %>

<div class="restaurants-list">

  <% @restaurants.each do |r|%>

    <%= link_to restaurant_path(r), class:"link" do %>

    <ul>
      <li><%= r.name %> / <%= r.speciality %></li>
    </ul>

    <% end %>

  <% end %>

</div>