<h1>Ici show des restaurants</h1>

<div class="restaurant">
  <ul>
    <li><%= @restaurant.name %></li>

    <%= link_to "",
                  restaurant_path,
                  method: :delete,
                  data: { confirm: "Supprimer ?" }, class:"fas fa-trash-alt"%>
                  
    <%= link_to "",
                 edit_restaurant_path,
                 class:"fas fa-wrench" %>
  </ul>
</div>